/* Custom styling for Results Page */


.results_body {
    height: Calc(100% - 140px) !important;
}


/* Lay-ouy Options */

.results_layoutOption {
    background-color: #e6e6e6;
    font-size: 14px;
    cursor: pointer;
}

.results_layoutOption.active {
    background-color: var(--main-color);
    color: white;
    cursor: default;
}


/* Tables */

.results_titleBar {
    height: 25px;
}

.results_titleBarSub {
    border: 1px solid var(--main-color);
    margin-left: 1.5%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 15px;
}

.results_tableSection {
    height: Calc(100% - 25px);
    overflow: scroll;
}

.results_table {
    font-size: 14px;
}

.results_thead {
    height: 38px;
    background-color: #899F76;
    position: sticky;
    top: 0;
}

.results_tbody {
    height: Calc(100% - 38px);
    overflow: scroll;
}

.results_tableRow {
    transition: 0.2s;
    cursor: pointer;
}

.results_tableRow:hover {
    background-color: #b3b3b3;
}

.results_tableRow.active {
    background-color: #808080;
}

.results_alignmentTableItem {
    color: #899F76
}

.results_predictedColumn.high {
    background-color: #339966;
}

.results_predictedColumn.good {
    background-color: #00cc66;
}

.results_predictedColumn.medium {
    background-color: #ffff66;
}

.results_predictedColumn.low {
    background-color: #ffcc66;
}

.results_predictedColumn.very_low {
    background-color: #ff8533;
}

.results_predictedColumn.none {
    background-color: #ff5c33;
}


/* Legend */

.results_legend {
    font-size: 14px;
    background-color: #e6e6e6;
    margin-top: 25px;
    height: Calc(100% - 25px) !important;
}

.results_legendItem {
    transition: 0.2s;
    cursor: pointer;
}

.results_legendItem.active {
    background-color: white;
}

.results_legendIndication {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.results_legendIndication.one {
    background-color: #339966;
}

.results_legendIndication.two {
    background-color: #00cc66;
}

.results_legendIndication.three {
    background-color: #ffff66;
}

.results_legendIndication.four {
    background-color: #ffcc66;
}

.results_legendIndication.five {
    background-color: #ff8533;
}

.results_legendIndication.six {
    background-color: #ff5c33;
}


/* Taxon Details */

.results_taxonDetailsBody {
    background-color: #e6e6e6;
    font-size: 14px;
}

.results_taxonDetailsTitle {
    font-size: 14px;
}