/* Main CSS file for Custom Styling */

.main_bg {
    background-image: url('./webroot/img/home_bg.jpg');
    height: Calc(100% - 60px);
}

.main_footer {
    height: 60px;
}


/* Declaring global variables */

:root {
    --main-color: #66913d;
}

body {
    overflow: hidden;
    margin: 0;
}

.root {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
}

a {
    text-decoration: none;
}


/* Declaring global classes */

.bg-primary-green {
    background-color: var(--main-color);
}